{% extends 'base.html' %}

{% block header %}
    <div class="titulo">
        <h2>Codificar Mensagem</h2>
    </div>
    <div class="form">
        <form action="/codificar" method="post"enctype= "multipart/form-data">
            <label for="mensagem"></label>
            <input type="text" name="mensagem"
            <label for="imagem">Escolha a imagem (PNG):</label
                <div class="titulo">
                    <h2>Codificar Mensagem</h2>
                </div>
    </div>

    <div> class="encoded_image">
        {% if image_data %}
        <h2>Imagem gerada com sucesso!</h2>
        <img  src="data:image/png;base64," {{image_data|b64encode}} alt="Image Codificada">
        

        <br />
        <a



    </div>
{% endblock %}