{% extends 'base.html' %}

{% block header %}
    <div class="titulo">
        <h2>Codificar Mensagem</h2>
    </div>
    <div class="form">
        <form action="/codificar" method="post">
            <label for="mensagem"></label>
            <input type="text" name="mensagem"
            <label for="imagem">Escolha a imagem (PNG):</label>
            <input type="file" name="imagem"accept="image/png"required>
            <input type="submit"value="Codificar">

        </form>
    </div>
{% endblock %}